.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-body > .shiny-text-output {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0;
}

body {
  width: 100%;
  max-width: none;
  background-color: white;
}

.wcLabel {
  box-shadow: none
}

#wordcloud2:hover {
  cursor: pointer
}

h1 {
  font-weight: normal;
  color: #EA7B62;
  border: 2px solid #EA7B62;
  border-radius: 40px;
  text-transform: uppercase;
  padding: 18px 36px;
  margin: 64px 0px 50px 0px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 0.5px;
}

h2 {
  margin-bottom: 20px;
}

h3 {
  font-style: italic;
  margin-bottom: 50px;
}

#emojiByYear, #emojiByHouse, #emojiByState, #emojiByGender {
  margin: 20px 0;
}

.navbar-default {
  background-color: white;
  border: none
}

/* .navbar-default .navbar-brand, .navbar-nav>li>a {
  color: white !important;
} */

.navbar-nav > .active > a {
  background-color: #EA7B62 !important;
  color: white !important;
}

.navbar-nav > li > a {
  border-radius: 40px;
}

.tab-content {
  padding: 80px 200px;
}
